body {
    background-image: url('/static/bg.png')
}

.sh_container {
    margin-top: 100px;
    width: 940px;
    height: 417px;
    margin-left: auto;
    margin-right: auto;
    background: gray;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    padding: 5px;;
}

.sh_container_inner {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 0px;
}

.slide-container {
    width: 930px;
    height: 357px;
    background: gray;
    position: relative;
    top: 5px;
    left: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.thubmb_container {
    width: 930px;
    height: 60px;
    margin-top: 9px;
}

.thumb_list {
    width:855px;
    height: 47px;
    float: left;
    margin-left: 15px;;
    margin-top: 2px;
}

.left {float:left; margin-top: 7px; margin-left: 12px;cursor: pointer;}
.right {float:left; margin-top: 7px; margin-left: 1px;cursor: pointer;}

.thumbnail {
    margin-right: 12px;
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: pointer;
    float: left;
}

.thumbnail:hover, .active_t {
    filter: alpha(opacity=100) !important;
    opacity: 1.0 !important;
}

.image {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

.text_back {
    position: absolute;
    left:705px;
    top: 0px;
    width:200px;
    height: 357px;
    background: black;
    filter: alpha(opacity=25) !important;
    opacity: 0.25 !important;
}

.text {
    text-align: right;
    font-weight: bold;
    font-size: 21px;
    font-family: Arial, Helvetica;
    line-height: 1.5;
    padding: 20px 5px 10px 5px;
    position: absolute;
    left:690px;
    top: 0px;
    width:200px;
    height: 250px;
    color: white;
}

.header {
    position: absolute;
    left:95px;
    top: 250px;
    width:800px;
    height: 80px;
    color: white;
    text-align: right;
    font-weight: bold;
    font-size: 58px;
    font-family: Arial, Helvetica;
    letter-spacing: -3px;
    text-shadow: 3px 3px 3px #000000;
    filter: dropshadow(color=#000000, offx=3, offy=3);
}

.filename {
    position: absolute;
    left:95px;
    top: 320px;
    width:800px;
    height: 30px;
    color: white;
    text-align: right;
    font-weight: bold;
    font-size: 21px;
    font-family: Arial, Helvetica;
}

.logo {
    position: absolute;
    top: 13px;
    left: 15px;
    z-index: 999;
}
