{% load thumbnail staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Ninja</title>
<link rel="stylesheet" href="{% static 'all.css' %}">
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="{% static 'slide.js' %}" language="javascript"></script>

<script>
    var images_q = {{ images.count }};
</script>

</head>
<body>

<div class="sh_container">
     <div class="sh_container_inner">

            <div class="slide-container" id="i{{forloop.counter}}">
                <img class="logo" src='{% static "logo.png" %}'/>
                {% for i in images %}
                  <div class="image" id="i{{forloop.counter}}">
                    <img src="{% thumbnail i.image 940x357 %}"/>
                    <div class="text_back">
                    </div>
                     <div class="text">
                        {{ i.text }}
                    </div>
                    <div class="header">
                        {{ i.title }}
                    </div>
                    <div class="filename">
                        {{ i.filename }}
                    </div>
                  </div>
                {% endfor %}
            </div>

            <div class="thubmb_container">
                <img class="left" src="{% static "left.png" %}"/>
                <div class="thumb_list">
                      {% for i in images %}
                          <img class="thumbnail" src="{% thumbnail i.image 110x52 %}"
                               id="t{{forloop.counter}}" data-number="{{forloop.counter}}"
                               title="{{ i.title }}"/>
                      {% endfor %}
                </div>
                <img class="right" src="{% static "right.png" %}"/>
            </div>

     </div>
</div>

</body>
</html>